body {
	background-color: lightskyblue;

    

	color: black;
	text-align: left; 
	}
	h1 {

		text-align: center;
		color: red;
}
		    .imgRight{
    	float: right;
    	border: 5px solid black;
    	margin-left: 20px
    	margin-right: 20px
    	margin-top: 20px
    	margin-bottom: 20px;
    }

    	    .imgLeft{
    	float: left;
    	border: 5px solid black;
    	margin-left: 20px
    	margin-right: 20px
    	margin-top: 20px
    	margin-bottom: 20px;
	
}

